.chat-main
  .main-header
    .main-header__left-box
      %h1.main-header__left-box__current-group
        test
      %ul.main-header__left-box__member-list
        "Member:"
        %li.main-header__left-box__member-list__member
          yo
        %li.main-header__left-box__member-list__member
          kato
    .main-header__edit
      Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker yo
        %p.message__upper-info__date 2020/1/1
      %p.message__text こんにちは
    .message
      .message__upper-info
        %p.message__upper-info__talker yo
        %p.message__upper-info__date 2020/1/1
      %p.message__text こんにちは
    .message
      .message__upper-info
        %p.message__upper-info__talker yo
        %p.message__upper-info__date 2020/1/1
      %p.message__text こんにちは


  .form
    %form.new-message
      .input-box
        %input.input-box__text{placeholder:"type a message", type:"text"}
        %label.input-box__image
          = icon("fa", "image")
          %input.input-box__image__file{type:"file"}
      %input.submit-btn{type:"text", Value:"Send"}