* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: 300px;
  float: left;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &__name {
        line-height: 20px;
        font-size: 16px;
        color: #ffffff;
      }
      &__icons {
        width: 60px;
        line-height: 20px;
        text-align: right;
        &__edit-user {
          display: inline;
          margin-left: 5px;
          .icon {
            color: #ffffff;
            text-decoration: none;
          }
        }
        &__new-group {
          display: inline;
          margin-left: 5px;
          .icon {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }

  &__group-list {
    &__top-items {
      font-weight: bold;
      color: #ffffff;
      padding: 20px 20px;
      &__group-name {
        font-size: 15px;
      }
      &__last-message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.main-chat {
  height: 100vh;
  width: calc(100% - 300px);
  float: right;
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    &__top-items {
      height: 100px;
      padding: 0px 40px;
      &__group-name {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
        margin-bottom: 15px;
        float: left;
      }
      &__edit {
        float: right;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px;
        color: #38eaf0;

      }
      &__group-members {
        clear: both;
        font-size: 12px;
        color: #999999;
      }
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px;
    &__top-items {
      &__chat {
        display: flex;
        margin-bottom: 12px;
        &__user-name {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__text {
        font-size: 14px;
        color: #434a54;
        margin-bottom: 46px;
      }
    }
  }

  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    display: flex;
    &__form-contents {
      width: 100%;
      height: 50px;
      display: flex;
      &__text {
        width: 100%;
        background-color: #fafafa;
        display: flex;
        justify-content: space-between;
        position: relative;
        &__comment {
          height: 50px;
          width: 100%;
          padding: 0px 40px 0px 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          .select-image {
            display: none;
          }
        }
      }
      &__form {
        width: 100px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        line-height: 50px;
        text-align: center;
      }
    }
  }
}